//keyframes


@keyframes animatedBackground {
    0% {
        transform: translate(-140px, 0px)
    }
    100% {
        transform: translate( 0px, -160px)
    }
}
@keyframes balkon {
    0% {
    	transform: scale(1.16)
    }
	25% {
		transform: scale(1.12)
	}
	50% {
		transform: scale(1.08)
	}
	75%{
		transform: scale(1.04)
	}
    100% {
        transform: scale(1.0)
    }
}
@keyframes bounce{
	from { transform: translate3d(0, 0, 0);     }
	to   { transform: translate3d(0, 50px, 0); }
}

@keyframes ballFirst {
	0% {
		transform: translate(200%, 76%);
		opacity: 0.2;
	}
	
	25% {
		transform: translate(150%, 46%);
		opacity: 0.4;
	}
	
	50% {
		transform: translate(100%, 26%);
		opacity: 0.6;
	}
	
	75% {
		transform: translate(50%, 16%);
		opacity: 0.8;
	}
	
	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}
@keyframes ballSecond {
	0% {
		transform: translate(160%, 76%);
		opacity: 0.2;
	}
	
	25% {
		transform: translate(120%, 46%);
		opacity: 0.4;
	}
	
	50% {
		transform: translate(80%, 26%);
		opacity: 0.6;
	}
	
	75% {
		transform: translate(40%, 16%);
		opacity: 0.8;
	}
	
	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes MouseOn{
	0{
		transform: translate(0px, 0px)
	}
	50%{
		transform: translate(0px, -11px)	
	}
	100%{
		transform: translate(0px, 0px)	
	}
}


//animate classes

#balkon{
	background-image: url("../../img/bg_3.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.04);
	background-position-y: 78%;
	animation: balkon 6s linear forwards;
	@include md{
		animation: none;
		transform: scale(1.0);
		background-position-y: -250px;
		background-position-x: 51%;
		background-size: 240%;
	}
	@include lg{
		animation: none;
		background-position-x: 39%;
		background-size: 140%;
	}	
	@include sm{
		animation: none;
		background-size: 333%;
		background-position: -845px -300px;
	}
	@include xs{
		animation: none;
		background-position: 58% -280px;
		background-size: 380%;
	}
}

#fly_car{
	position: absolute;
	transform: translate(-7%, 78%);
	@include md{
		transform: translate(-31%, 79%) scale(0.8);
	} 
	@include lg{
		transform: translate(-34%, 80%) scale(0.8);
	}
	@include sm{
		transform: translate(-41%, 99%) scale(0.8);
	}
	@include xs{
		transform: translate(-41%, 99%) scale(0.8);
	}


}
.fly-car-animation-duration{
	animation-duration: 5s;
}

.main_sect .main_sect_container .ball_con li:first-child {
	opacity: 0;
	animation: ballFirst .9s linear 4.5s forwards;
}
.main_sect .main_sect_container .ball_con li:nth-child(2) {
	opacity: 0;
	animation: ballSecond .9s linear 5.1s forwards;
}
.main_sect .main_sect_container .ball_con li:nth-child(3) {
	opacity: 0;
	animation: ballFirst .9s linear 5.7s forwards;
}
.main_sect .main_sect_container .ball_con li:nth-child(4) {
	opacity: 0;
	animation: ballFirst .9s linear 6.3s forwards;
}
.main_sect .main_sect_container .ball_con li:nth-child(5) {
	opacity: 0;
	animation: ballFirst .9s linear 6.9s forwards;
}

.ball_1{
	animation: bounce 1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3,0.5,0.2,0.7);
	animation-iteration-count: infinite;
	animation-delay: 9s;
	@include md{
		transform: translate(-89%, 213%) scale(0.6);
	}
	@include sm{
		transform: translate(-89%, 95%) scale(0.6);
	}
	@include xs{
		transform: translate(-65%, 95%) scale(0.5);
	}
}
.ball_2{
	animation: bounce 1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3,0.5,0.2,0.7);
	animation-iteration-count: infinite;
	animation-delay: 9.2s;
	@include md{
		transform: translate(-93%, 217%) scale(0.6);
	}	
	@include sm{
		transform: translate(-93%, 82%) scale(0.6);
	}	
	@include xs{
		transform: translate(-100%, 82%) scale(0.5);
	}
}
.ball_3{
	animation: bounce 1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3,0.5,0.2,0.7);
	animation-iteration-count: infinite;
	animation-delay: 9.4s;
	@include md{
		transform: translate(-161%, 238%) scale(0.6);
	}	
	@include sm{
		transform: translate(-161%, 72%) scale(0.5);
	}	
	@include xs{
		transform: translate(-185%, 72%) scale(0.5);
	}
}
.ball_4{
	animation: bounce 1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3,0.5,0.2,0.7);
	animation-iteration-count: infinite;
	animation-delay: 9.6s;
	@include md{
		transform: translate(-361%, 395%) scale(0.6);
	}
	@include sm{
		transform: translate(-361%, 69%) scale(0.6);
	}	
	@include xs{
		transform: translate(-441%, 69%) scale(0.5);
	}
}
.ball_5{
	animation: bounce infifn;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3,0.5,0.2,0.7);
	animation-iteration-count: infinite;
	animation-delay: 9.8s;
	@include md{
		transform: translate(-813%, 823%) scale(0.8);
	}	
	@include sm{
		transform: translate(-813%, -31%) scale(0.8);
	}	
	@include xs{
		transform: translate(-1100%, -31%) scale(0.6);
	}
}
#earth_1_img{
	width:100%;
	top: -10%;
	animation: animatedBackground 9.3s linear forwards;
	transform: scale(3);
	@include md{
		animation: none;
		transform: translate(-13%, 30%) scale(2.5);
		
	}
	@include lg{
		transform: translate(0%, 0%) scale(1.5);
	}
	
	@include sm{
		animation: none;
		transform: translate(-24%, 73%) scale(2.5);
	}
	@include xs{
		animation: none;
		transform: translate(3%, 121%) scale(2.5);
	}
	@include xl{
		
	}
	
	
}
.earth_1{
	position: absolute;
	z-index: -1;
	@include ml{
		transform: translate(0%, 25%);
		height: 100%;
	}
	@include lg{
		transform: translate(0%, 53%);
	}
}
