.sect_six{
	position: relative;
	background: url('../../img/sect_six_bg.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	.sect_six_cont{
		position: relative;
		height: 940px;
		.point_hex{
			position: relative;
  			width: 300px; 
  			height: 173.21px;
  			background-color: #000000ab;
  			margin: 86.60px 0;
		}
		.point_hex:before,
		.point_hex:after {
		  content: "";
		  position: absolute;
		  width: 0;
		  margin-left: -50%;
		  border-left: 150px solid transparent;
		  border-right: 150px solid transparent;
		}

		.point_hex:before {
		  bottom: 100%;
		  border-bottom: 86.60px solid #000000ab;
		}

		.point_hex:after {
		  top: 100%;
		  width: 0;
		  border-top: 86.60px solid #000000ab;
		}

		.point{
			color: $white;
			text-align: center;
			position: relative;
			display: none;
			.hex_socials{
				display: flex;
				justify-content: center;
				.social_icon{
					margin-top: -7px;
					font-size: 16px;
					color: $white;
					margin-left: 7px;
					&:hover {
						color: $orange;
					}	
				}

			}
		}

		.hexagon{
			&:before, &:after{
				margin-left: 0;
			}
		}
		.hex_1{
			
			position: absolute;
			bottom: 9%;
			left: 0%;
			color: $white;
			@include md {
				top: 43%;
				left: 26%;
			}			
			@include sm {
				top: 47%;
				left: 19%;
			}			
			@include xs {
				top: 50%;
				left: 21%;
			}
			.t_hex_info{
				@extend %RobotoText;
				color: $white;
				font-size: 0.875em;
				margin-top: -5px;
				@include paddingLR(66px, 66px);
				text-align: center;
				@inlcude md {
					@include paddingLR(40px, 40px);
				}
				h3{
					margin-top: 112px;
					margin-bottom: 26px;
				}
				.hex_title{
					@extend %USHText;
					font-size: 1.5em;
					margin-bottom: 40px;
				}
				.hex_text{
					height: 124px;
				}
			}
			.sect_six_btn{
				z-index: 10;
   				position: absolute;
    			overflow: visible;
				transform: translate(227%, 37%);
				backgroung: none;
				@include md {
					transform: translate(192%, 37%);	
				}
				@include sm {
					transform: translate(159%, 0%);	
				}
				@include xs {
					transform: translate(158%, -7%);	
				}				
			}
		}
	}
	.main_nav {
		top: 25%;
	}
	
	// Map marks
	.mp-marks-item {
		position: absolute;
	}
	
	.mp-marks-item.one {
		top: 35%;
		left: 44%;
		@include sm {
			top: 36%;
			left: 37%;
		}		
		@include xs {
			top: 36%;
			left: 38%;
		}
	}
	
	.mp-marks-item.two {
		top: 35%;
		left: 50%;
		@include sm {
			top: 36%;
			left: 52%;
		}		
		@include xs {
			top: 36%;
			left: 50%;
		}
	} 
	.mp-marks-item.third {
		top: 33%;
		left: 53%;
		@include sm {
			top: 33%;
			left: 57%;
		}		
		@include xs {
			top: 33%;
			left: 56%;
		}
	}
	
	.mp-marks-item.fourth {
		top: 33%;
		left: 56.5%;
		@include sm {
			left: 65.5%;
		}		
		@include xs {
			left: 63%;
		}
	}
	
	.mp-marks-item.five {
		top: 30%;
		left: 39%;
		@include md {
			left: 34%;
		}		
		@include sm {
			left: 28%;
		}		
		@include xs {
			left: 29%;
		}
	}
	
	.mp-marks-item.six {
		top: 26%;
		left: 121px;
		@include lg {
			top: 315px;
			left: -39px;
		}
		@include md {
			top: 21%;
			left: 0;
		}		
		@include sm {
			top: 24%;
			left: -16px;
		}		
		@include xs {
			top: 20%;
			left: 50px;
		}
	}
}

.sect_six .sect_six_cont .hex_1 .hex_text {
	@include md {
		font-size: 1.2em;
	}
}

.sect_six .sect_six_cont .hex_1 .t_hex_info .orange_tittle.hex_tittle {
	@include md {
		font-size: 2em;
	}
} 

.sect_six .sect_six_cont .scroll_down {
	@include lg {
			
	}
	@include md {
		bottom: 6%;
		left: 53%;
		transform: translateX(-50%);
	}
}

.sect_six .sect_six_cont .join_us {
	@include md {
		bottom: 8%;
	}
}

