.sect_two{
	height: 100vh;
	background-image: url("../../img/sect_two_bg.jpg");
	background-size: cover;
	color: $white;
	overflow: hidden;
	.sect_two_container{
		position: relative;
		@include lg{
			max-width: 100vw;
		}
		@include md{
			max-width: 100vw;
		}
		.hexagon{
			@include lg{
				width: 409px;
			}
			@include md{
				width: 359px;
			}
			@include sm{
				width: 304px;
			}
			&:before, &:after{
				margin-left: 0%;
				@include lg{
					border-left: 205px solid transparent;
					border-right: 205px solid transparent;
				}
				@include md{
					border-left: 177.5px solid transparent;
					border-right: 177.5px solid transparent;
				}
				@include sm {
					border-left: 151.5px solid transparent;
					border-right: 151.5px solid transparent;
				}
			}
			.hex_text {
				@include sm {
					height: 76px;
				}
			}
			.info_btn{
				margin: 10% 34%;
			}
		}
		.sect_two_hex_1{
			margin-top: 4%;
			margin-left: 35px;
			@include sm {
				margin-top: -16%;
				margin-left: auto;
				margin: -32% 49%;
				margin-bottom: 19%;
			}
			@include xs{
				margin-top: -9%;
				margin-left: 2px;
			}
			h3{
				margin-top: 118px;
				margin-bottom: 27px;
			}
			.hex_text{
				@extend %RobotoText;
				font-size: 1em;
				height: 94px;
				margin-bottom: 43px;
				@include md{
					height: 100px;
				}
				@include lg{
					height: 120px;
				}
			}
			.info_btn{
				margin: -3% 34%;
				@include xs{
					margin: 2% 31%;
				}
			}
		}
		.sect_two_hex_2{
			margin-top: 20%;
			margin-left: 93px;
			@include md{
				margin-top: 20%;
				margin-left: 15px;
			}
			@include sm {
				margin-top: 8%;
				margin-left: -25px;
			}
			@include xs{
				margin-top: 9%;
				margin-left: 221px;
			}
			h3{
				@extend %USHText;
				margin-bottom: 40px;
				margin-top: 116px;
				@include md{
					margin-bottom: 30px;
				}
				@include sm{
					margin-bottom: 7px;
				}
			}
			.hex_text{
				position: relative;
				@extend %RobotoText;
				font-size: 1em;
				@include md{
					height: 100px;
				}
				@include lg{
					height: 120px;
				}
				
			}
			.info_btn{
				margin: -3% 34%;
				@include sm {
					margin: -4% 34%;
				}
				@include xs {
					margin: 1% 32%;
				}
			}
		}

		.watch_video{
			transform: translate(106%, -4%);
			@include md{
				transform: translate(49%, -4%);
			}
			@include sm{
				transform: translate(1%, -48%);
			}
			@include xs{
				transform: translate(9%, -8%);
			}
			img{
				@include xs{
					width: 200px;
				}
			}
			.video_btn{
				margin: -176px 114px;
				@include md{
					margin: -176px 114px!important;
				}
				@include xs{
					margin: -166px 85px;
				}
			}
		}

		.sect_two_hex_4{
			transform: translate(71%, -40%);
			@include md{
				transform: translate(36%, -31%);
			}
			@include sm{
				transform: translate(82%, -190%);
			}
			@include xs{
				transform: translate(47%, -32%);
			}
			h3{
				margin-top: 86px;
				margin-bottom: 26px;	
			}
			.hex_text{
				@extend %RobotoText;
				font-size: 0.86em;
				height: 95px;
				margin-bottom: 38px;
				@include md{
					height: 100px;
				}
				@include lg{
					height: 110px;
				}
			}
			.info_btn{
				margin: -1% 34%;
				@include sm{
					margin: -8% 34%;
				}
				@include xs{
					margin: 3% 30%;
				}
			}
		}
		.main_nav {
			@include lg{
				right: 1vw;
			}
		}
		.sect_two_info{
    		margin-top: -5px;
			@include paddingLR(66px, 66px);
			text-align: center;
			@include sm {
				margin-top: -5px;
			}
		}
	}
}