.sect_four{
	height: 100vh;
	color: $white;
	@extend %RobotoText;
	background: url('../../img/sect_four_bg.jpg') no-repeat;
	position: center center;
	overflow: hidden;
	.sect_four_cont{
		position: relative;
		.hexagon{
			&:before, &:after{
				margin-left: 0%;
			}
		}
		.hex_2{
			margin-top: 20%;
			margin-left: 93px;
			.hex_tittle{
				@extend %USHText;
			}
			@include xs{
				margin-top: calc(50% - 140px);
				margin-left: calc(58% - 130px);
				margin-bottom: 6.2rem;
			}
			@include sm{
				margin-left: calc(49% - 50px);
			}
			@include md{
				margin-left: calc(53% - 50px);
			}			
			@include lg{
				margin-left: 220px;
				margin-top: 18%;
			}
		}
		.hex_1{
			.hex_tittle{
				@extend %USHText;
				font-size: 1.5em;
			}
			margin-top: 8%;
			margin-left: 35px;
			@include xs{
				margin-left: calc(17% - 50px);
				margin-top: -3%;
			}
			@include sm{
				margin-left: calc(11% - 50px);
				margin-top: calc(9% - 50px);
			}
			@include md{
				margin-left: calc(10% - 50px);
    			margin-top: calc(2% - 50px);
			}
			@include lg{
				margin-left: 0px;
				margin-top: 3%;
			}
		}
		.hex_4{
			.hex_tittle{
				@extend %USHText;
//				@include xs{
//					padding-left: 28px;
//				}
			}
			
			transform: translate(130%, -48%);
			@include xs{
				transform: translate(64%, -36%);
			}
			@include sm{
				transform: translate(67%,-53%);
			}
			@include md{
				transform: translate(83%,-51%);
			}			
			@include lg{
				transform: translate(3%, -35%);
			}
		}
		.t_hex_info{
			font-size: 0.875em;
			margin-top: -5px;
			@include paddingLR(66px, 66px);
			text-align: center;
			
			.hex_tittle{
				margin-bottom: 26px;
				font-size: 1.875em;
			}
		}
//		.hex_text{
//			@include xs{
//				display: none;
//			}
//		}
		.info_btn{
			transform: translate(43%, 10%);
			@include xs{
				transform: translate(45%, -25%);
			}
			@include sm{
				transform: translate(43%, -30%);
			}
			@include md{
				transform: translate(11%, -46%);
			}
		}
	}
}